.notification-success,
.notification-error,
.notification-warring {
  max-width: 320px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.notification-success {
  background: #07bc0c;
}

.notification-error {
  background: #e74c3c;
}

.notification-warring {
  background: #f1c40f;
}

.notification-info {
  background: #3498db;
}
