.todo {
  h1 {
    font-size: 32px;
    text-align: center;
  }

  .image-bg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }

  &__wrapper {
    max-width: 800px;
    margin: 0 auto;
  }

  .todo-list {
    background-color: white;
  }

  &__footer {
    display: flex;
    gap: 30px;
    padding: 5px 0;
  }
}
